<div class="container text-center">
    <div class="row">
        <div class="col">
            <h3>My Pending Tasks</h3>
        </div>
        <div class="col">
            <h3>My Completed Tasks</h3>
        </div>
        <div class="col">
        </div>
        <div class="col">
            <h3>Given Pending Tasks</h3>
        </div>
        <div class="col">
            <h3>Given Completed Tasks</h3>
        </div>
    </div>
    <div class="row">
        <div class="col">
            <% @bucket.tasks_by_status("Pending").each do |task| %>
                <%= link_to task.name, task_path(task) %><br>
            <% end %>
            
        </div>
        <div class="col">
            <% @bucket.tasks_by_status("Completed").each do |task| %>
                <%= link_to task.name, task_path(task) %><br>
            <% end %>
        </div>
        <div class="col">
        </div>
        <div class="col">
            <% current_user.tasks_by_status("Pending").each do |task| %>
                <%= link_to task.name, task_path(task) %><br>
            <% end %>
            <%= button_to "Create Task", new_task_path, method: :get %>
        </div>
        <div class="col">
            <% current_user.tasks_by_status("Completed").each do |task| %>
                <%= link_to task.name, task_path(task) %><br>
            <% end %>
        </div>
    </div>
</div>