<!DOCTYPE html>
<html>
  <head>
    <title>TaskManager</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
  </head>

  <body>
    <% if user_signed_in? %>
    <div> Welcome <%= current_user.email %> </div>
        <% if !current_user.bucket.nil? %>
        <%= link_to "My Bucket", bucket_path(current_user.bucket)%>
        <% end %>
        <%= button_to "Sign out", destroy_user_session_path, method: :delete %>
    <% end %>
    <%= yield %>
  </body>
</html>
