<!DOCTYPE html>
<html>
  <head>
    <title>TaskManager</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
    <script type="module" src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.esm.js"></script>
    <script nomodule src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.js"></script>
  
  </head>

  <body>
    <% if user_signed_in? %>
    <nav class="navbar navbar-dark bg-dark">
      <div class="navbar-brand">Task Manager - <%=link_to current_user.email,bucket_path(current_user.bucket)%></div>
      
      <div class="navbar-links">
        <% if user_signed_in? %>
          <%= button_to "Sign out", destroy_user_session_path, method: :delete %>
        <% end %>
      </div>
    </nav>
    <% end %>
    <%= yield %>
  </body>
</html>
